
.upload-container{
    display: flex;
}

.predict-btn {
    margin: 0 auto;
    background: var(--blue);
    color: white;
    border: 0px var(--blue);
    padding: 20px;
    width: 169px;
    font-family: 'Petrona', serif;
    font-size: 24px;
    border-radius: 250px;
    margin-left: 420px;
}

#uploadText {
    cursor: "pointer";
}
.upload-label {
    height: 100px; 
    width: 150px;
    border-radius: 6px;
    border: 1px
}

#patinputdiv input {
    width: 20%; /* Set the width to 100% of the parent container */
    padding: 10px; /* Adjust the padding as needed */
    border: 1px solid #ccc; /* Add border styles as needed */
    border-radius: 5px; /* Adjust border-radius as needed */
  }

.upload-container {
    margin: 0 auto;
    margin-top: 155px;
    width: 65%;
    border-radius: 250px;
    background: white;
    padding: 16px; 
    align-items: center;
}

.detect-cntr {
    background-color: var(--blue);
    border-radius: 30px;
    margin-top: 70px;
    margin-left: 165px;
    margin-right: 165px;
    height: 392px;
    font-family: 'Montserrat', sans-serif;
}

.heading {
    color: white;
    margin: 0 auto;
    text-align: center;
    display: block;
    padding-top: 10px;
    font-size: 48px;
}

.title {
    font-family: 'Petrona', serif;
    font-size: 64px;
    margin: 0 auto;
    margin-top: 0px;
    margin-left: 80px;
    color: white;
    font-weight: bold;
}


.half-bg {
    margin-top: -63px;
    height: 670px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 65%;
    padding-top: 4rem;
}

.full-bg {
    margin: 0 auto;
    height: 670px;
    width: 100%;
    padding-top: 4rem;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}